<div>
    <!-- Appendix for Shay's Thesis -->
    <h2>Appendix</h2>        

    <!-- Footnotes will populate automatically from the script in footnotes.js --> 
    <section id="footnotes">
        <h3>References</h3>
        <ol id="Footnotes"></ol>
    </section>

    <!--  -->
    <section id="code"> 
        <h3>Source Code</h3>
        <!-- <?php include 'sourcecode.php'; ?> -->
    </section>

</div>
