<div>
    <h2>Domestic Violence</h2>

    <section id="perceived-dv"> 
        <h3>Perceived Domestic Violence</h3>
        <div id="dvBar"></div>
        <div class="table-holder" data-table="dvPerception"></div>
    </section><!-- #perceived-dv -->

    <section id="reported-dv">
        <h3>Reported Domestic Violence</h3>
        <div class="table-holder" data-table="dvReported"></div>
    </section><!-- #reported-dv -->
      
    <section id="dv-attitudes">
        <h3>Attitudes about Domestic Violence</h3>
        <div class="table-holder" data-table="dvAttitudesWomen"></div>
        <div class="table-holder" data-table="dvAttitudesMen"></div>
    </section><!-- #dv-attitudes -->  

    <section id="dv-comparison">
        <h3>Comparison of Reports, Attitudes, and Perception</h3>
        <div id="dvMap"></div>
        <div id="dvScatter"></div>
    </section><!-- #dv-comparison -->
</div>
