<div>
    <h2>Introduction</h2>
    <p>It is hard to remain objective when discussing intimate partner violence (IPV). 
    It is a complicated<a class="footnote">AhmedGhosh2004</a>, heart-breaking, and often deeply personal subject. 
    Intimate partner violence raises questions of public health, human rights, sociology, psychology, and for this paper, economic well-being.
    Every society must grapple with how to prevent and stop it, and how to properly support not only direct victims but the communities that are indirectly affected.
    In order to do this properly, we must understand the implications of these actions. </p>

    <p>India has IPV rates among the world's worst. 
    In 2011, TrustLaw, a service of the Thomas Reuters Foundation, 
    found India to be the worst of all G20 nations for women citing high rates of early marriage 
    and long-held views of IPV justification. </p>

    <p> Simultaneously, as an emerging economy, India is becoming more industrialized every year. 
    This means that work is moving outside the home and away from agricultural work. 
    As women find growing opportunities, women will selectively them. 
    We seek to understand why women choose to work outside the home and
    specifically how perception of IPV might contribute to the decision. 
    This paper examines labor-force participation of ever-married women in India 
    based on whether they perceive IPV to be common in their community. </p>
</div>
