<div>
    <h2>Labor-force participation</h2>
    <p>
      Lalalalalalalal
    </p>
    <section id="agricultural-work">
        <h3>Agricultural Work</h3>
        <p>
            <div id="wkBar"></div>
        </p>
        <p>
          ...lalalalala...
        </p>   
    </section><!--end of #agricultural-work-->
    <section id="salary-work">
        <h3>Salary Work</h3>
        <div id="wkMap"></div>
        <p>

        </p>
    </section><!--salary-work-->
</div>
