<div>
    <h2>Domestic Violence and Work</h2>

    <section id="previous-models">
        <h3>Previous Models</h3>
        <h4>Bargaining Framework</h4>
        <h4></h4>
        <h4>Exposure Theory</h4>
    </section>

    <section id="empowerment-risk">
        <h3>Women's Economic Empowerment as Risk</h3>
        <p>
        </p>
    </section>

    <section id="findings">
        <div id="wkLines"></div>
        <div class="chart">
        <!-- <?php ?> -->
        </div>
      
    </section>

</div>
