/* RESET */ 
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; 
  box-sizing: border-box;
}

/* setting variables */
body {
  background-color: white;
  --N: 10;
  --bg-color: white;
  --txt-color: black;
  --game-size: 800px;
  --square-size: calc(800px / var(--N));  
}

/* main container */
#wrapper {
  margin-top: calc(50vh - var(--game-size) / 2);
  margin-left: calc(50vw - var(--game-size) / 2); 
  width: var(--game-size);
  height: var(--game-size);
  position: fixed;
  line-height: 0;
  text-align: center;
}
#puzzle {
  height: 100%;
  width: 100%;
  background-color: white;
  border: solid black 10px;
}

table#puzzle {
  border-collapse: collapse;
}

#puzzle p {
  margin: 0;
  padding: 0;
}
/* grid */
.row {
  height: var(--square-size);
  width: 100%;
}

table {
  height: 100%;
  width: 100%;
}

.hint {
  text-align: left;
  padding-left: 4px;
  padding-top: 4px;
  font-weight: bold;
  font-size: 16px;
}

.candidates {
  color: transparent;
  width: 25%;
}

.candidate-row {
  height: 25%;
  border: 0;
}
.row > td {
  border: 1px solid gainsboro;
  position: relative;
  width:  var(--square-size);
}

.row > td > div { 
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

tr {
  line-height: 1;
}

td.right-border {
  border-right: 3px solid black;
}

td.bottom-border {
  border-bottom: 3px solid black;
}

td.active {
  background-color: oldlace;
}

.answer {
  font-size: 60px;
  font-weight: bold;
  width: var(--square-size);
}

.answered .candidates {
  color: transparent;
}

.selected-candidate {
  color: black;
}

