@media (max-width: 700px) {
}

@media (min-width: 701px) {
}

.circleComponent {
  transform-origin: 50% 100%;
  // transform: rotate(45deg);
  transition: all 500ms ease;

  &:hover {
    transform: rotate(180deg);
  }
}

.previewCircle {
  transform-origin: 50% 50%;
  // transform: rotate(45deg);
  transition: all 500ms ease;
  &:hover{
    transform: rotate(90deg);
  }
}

#shay {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999999;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background-color: black;
  width: 100%;
  height: 60px;
  .namePlate {
    position: absolute;
    top:  -100px;
  }
}

body {
  background-color: black;
  overflow: hidden;
}

.bubbleRow {
  --baseunit: 20vh;
  transition: transform 500ms ease;
  height: var(--baseunit);
  display: flex;
  // justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: calc(-1.5  * var(--baseunit));
  transform-origin: calc(4 * var(--baseunit)) 0px;
  transform: rotate(45deg);
  padding-left: var(--baseunit);
  width: calc(3 * var(--baseunit) + 400vw);

  @for $i from 1 through 10  {
    &:nth-child(#{$i}){
      top: calc(#{$i} * calc(1.3 * var(--baseunit)) - calc(3 * var(--baseunit)));
      background-color: hsl(269, 80%, calc(50% - #{$i} * 7%));
      // padding-left: calc(#{$i} * 100px);
      z-index:  100 - $i;
    }
  }
}



.bubbleSVG {
  margin: 0px 20px;
  padding: 0;
  width: var(--baseunit);
  height: calc( .5 * var(--baseunit));
}

#topSVG {
  max-width: 100vh;
  max-height:  100vw;
}

a {
  &:hover {
    text-decoration: none;
  }
  height: calc( .5 * var(--baseunit));;
}

.bubbleDiv   {
  display: flexbox

  a  {
    width: 49.5%
  }
}

.bubbleDivs {
  // transform: rotate(45deg);
  transform-origin:  0 100%;
  width: 300px;

}