@media (max-width: 700px) {
}

@media (min-width: 701px) {
}

.circleComponent {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  transition: all 500ms ease;

  &:hover {
    transform: rotate(225deg);
  }
}

.previewCircle {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  transition: all 500ms ease;
}

#shay {
  position: fixed;
  bottom: 0;
  right: 0;
}

body {
  background-color: #1e0535;
  overflow: hidden;
}

.bubbleRow {
  transition: transform 500ms ease;
}

#topSVG {
  max-width: 100vh;
  max-height:  100vw;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.bubbleDiv   {
  display: flexbox

  a  {
    width: 49.5%
  }
}

.bubbleDivs {
  transform: rotate(45deg);
  transform-origin:  0 100%;
  width: 300px;

}