
<button type="button" class="btn btn-block" data-toggle="modal" data-target="#dvAttitudesMen">
 Table: Domestic Violence Attitudes (men)
</button>
<div class="modal fade" id="dvAttitudesMen" tabindex="-1" role="dialog" aria-labelledby="dvAttitudesMenLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
       <h4 class="modal-title" id="dvAttitudesMenLabel">Domestic Violence Attitudes (men)</h4>
     </div>
     <div class="modal-body">
<table class="table table-responsive table-condensed">
<tr><td></td><td></td>
<td><span data-toggle="tooltip" data-placement="top" title="wife beating justified if she goes out without telling him">Leaving</span></td><td><span data-toggle="tooltip" data-placement="top" title="wife beating justified if she argues with him">Arguing</span></td><td><span data-toggle="tooltip" data-placement="top" title="wife beating justified if she neglects the children">Neglect</span></td><td><span data-toggle="tooltip" data-placement="top" title="wife beating justified if she burns the food">Burning Food</span></td><td><span data-toggle="tooltip" data-placement="top" title="wife beating justified if she refuses to have sex with him">Refusing sex</span></td><td><span data-toggle="tooltip" data-placement="top" title="">Any</span></td>
</tr>
 <tr><td colspan="8">REGION</td></tr>
 <tr><td></td><td>Northern</td>
   <td>.181</td><td>.2</td><td>.186</td><td>.093</td><td>.047</td><td>.302</td>
 </tr>
 <tr><td></td><td>Northeastern</td>
   <td>.087</td><td>.131</td><td>.154</td><td>.042</td><td>.034</td><td>.224</td>
 </tr>
 <tr><td></td><td>Eastern</td>
   <td>.193</td><td>.238</td><td>.203</td><td>.099</td><td>.071</td><td>.35</td>
 </tr>
 <tr><td></td><td>Western</td>
   <td>.24</td><td>.279</td><td>.317</td><td>.148</td><td>.094</td><td>.458</td>
 </tr>
 <tr><td></td><td>Southern</td>
   <td>.303</td><td>.279</td><td>.423</td><td>.13</td><td>.077</td><td>.53</td>
 </tr>
 <tr><td></td><td>Central</td>
   <td>.335</td><td>.323</td><td>.274</td><td>.176</td><td>.096</td><td>.502</td>
 </tr>
 
 <tr><td colspan="8">AGE</td></tr>
 <tr><td></td><td>15-19</td>
   <td>.333</td><td>.464</td><td>.291</td><td>.179</td><td>.153</td><td>.522</td>
 </tr>
 <tr><td></td><td>20-24</td>
   <td>.304</td><td>.33</td><td>.339</td><td>.167</td><td>.095</td><td>.5</td>
 </tr>
 <tr><td></td><td>25-29</td>
   <td>.247</td><td>.278</td><td>.283</td><td>.122</td><td>.073</td><td>.437</td>
 </tr>
 <tr><td></td><td>30-34</td>
   <td>.233</td><td>.246</td><td>.285</td><td>.125</td><td>.072</td><td>.416</td>
 </tr>
 <tr><td></td><td>35-39</td>
   <td>.215</td><td>.246</td><td>.272</td><td>.114</td><td>.067</td><td>.395</td>
 </tr>
 <tr><td></td><td>40-44</td>
   <td>.225</td><td>.23</td><td>.264</td><td>.108</td><td>.071</td><td>.388</td>
 </tr>
 <tr><td></td><td>45-49</td>
   <td>.212</td><td>.227</td><td>.251</td><td>.109</td><td>.071</td><td>.379</td>
 </tr>
 
 <tr><td colspan="8">RELIGION</td></tr>
 <tr><td></td><td>Hindu</td>
   <td>.232</td><td>.252</td><td>.278</td><td>.122</td><td>.071</td><td>.411</td>
 </tr>
 <tr><td></td><td>Muslim</td>
   <td>.249</td><td>.26</td><td>.278</td><td>.108</td><td>.082</td><td>.421</td>
 </tr>
 <tr><td></td><td>Christian</td>
   <td>.189</td><td>.202</td><td>.313</td><td>.094</td><td>.074</td><td>.388</td>
 </tr>
 <tr><td></td><td>Other</td>
   <td>.157</td><td>.173</td><td>.174</td><td>.089</td><td>.061</td><td>.287</td>
 </tr>
 
 <tr><td colspan="8">CASTE</td></tr>
 <tr><td></td><td>SC</td>
   <td>.25</td><td>.286</td><td>.296</td><td>.144</td><td>.089</td><td>.444</td>
 </tr>
 <tr><td></td><td>ST</td>
   <td>.281</td><td>.314</td><td>.324</td><td>.148</td><td>.113</td><td>.488</td>
 </tr>
 <tr><td></td><td>OBC</td>
   <td>.268</td><td>.275</td><td>.314</td><td>.133</td><td>.065</td><td>.452</td>
 </tr>
 <tr><td></td><td>Brahmin</td>
   <td>.111</td><td>.126</td><td>.134</td><td>.056</td><td>.017</td><td>.228</td>
 </tr>
 <tr><td></td><td>Other</td>
   <td>.158</td><td>.178</td><td>.2</td><td>.076</td><td>.059</td><td>.31</td>
 </tr>
 
 <tr><td colspan="8">URBANITY</td></tr>
 <tr><td></td><td>Urban</td>
   <td>.158</td><td>.173</td><td>.208</td><td>.072</td><td>.043</td><td>.308</td>
 </tr>
 <tr><td></td><td>Rural</td>
   <td>.266</td><td>.286</td><td>.308</td><td>.141</td><td>.086</td><td>.456</td>
 </tr>
 
 <tr><td colspan="8">EDUCATION</td></tr>
 <tr><td></td><td>None</td>
   <td>.332</td><td>.339</td><td>.35</td><td>.17</td><td>.105</td><td>.526</td>
 </tr>
 <tr><td></td><td>Primary</td>
   <td>.283</td><td>.297</td><td>.336</td><td>.139</td><td>.091</td><td>.483</td>
 </tr>
 <tr><td></td><td>Secondary</td>
   <td>.193</td><td>.218</td><td>.247</td><td>.101</td><td>.058</td><td>.366</td>
 </tr>
 <tr><td></td><td>Higher</td>
   <td>.068</td><td>.092</td><td>.116</td><td>.038</td><td>.022</td><td>.18</td>
 </tr>
 
 <tr><td colspan="8">AFFLUENCE</td></tr>
 <tr><td></td><td>Poorest</td>
   <td>.32</td><td>.335</td><td>.328</td><td>.18</td><td>.106</td><td>.508</td>
 </tr>
 <tr><td></td><td>Poorer</td>
   <td>.298</td><td>.322</td><td>.334</td><td>.153</td><td>.092</td><td>.495</td>
 </tr>
 <tr><td></td><td>Middle</td>
   <td>.266</td><td>.269</td><td>.33</td><td>.124</td><td>.079</td><td>.464</td>
 </tr>
 <tr><td></td><td>Richer</td>
   <td>.187</td><td>.213</td><td>.254</td><td>.092</td><td>.06</td><td>.373</td>
 </tr>
 <tr><td></td><td>Richest</td>
   <td>.101</td><td>.126</td><td>.145</td><td>.054</td><td>.03</td><td>.223</td>
 </tr>
 
</table>
     </div>
   </div>
 </div>
</div>