<div>
    <button 
        type="button" 
        class="btn btn-block"
        data-toggle="modal" 
        data-target="#dvPerception">
        Table: Perception of Domestic Violence (women)
    </button>
    <div id="dvPerception"
        class="modal fade"
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="dvPerceptionLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button 
                        type="button"
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title" id="dvPerceptionLabel">Perception of Domestic Violence (women)</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-responsive table-condensed">
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="xidv1: Leaving, no permit ">Leaving
                                </span>
                            </td>
                            <td>
                                <span 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="xidv2: Too Little Dowry ">Dowry
                                </span>
                            </td>
                            <td>
                                <span 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="xidv3: Neglecting the House ">Neglect
                                </span>
                            </td>
                            <td>
                                <span 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="xidv4: Bad Cooking ">Cooking
                                </span>
                            </td>
                            <td>
                                <span 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="xidv5: Male Relations ">Affair
                                </span>
                            </td>
                            <td>
                                <span 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="Women who said yes to any of the other triggers, except affair.">Any
                                </span>
                            </td>
                        </tr>
                        <tr><td colspan="8">AGE</td></tr>
                        <tr>
                            <td></td>
                            <td>15-19</td>
                            <td>.48</td>
                            <td>.33</td>
                            <td>.398</td>
                            <td>.354</td>
                            <td>.849</td>
                            <td>.574</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>20-24</td>
                            <td>.421</td>
                            <td>.307</td>
                            <td>.351</td>
                            <td>.293</td>
                            <td>.848</td>
                            <td>.537</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>25-29</td>
                            <td>.406</td>
                            <td>.301</td>
                            <td>.354</td>
                            <td>.291</td>
                            <td>.831</td>
                            <td>.524</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>30-34</td>
                            <td>.378</td>
                            <td>.286</td>
                            <td>.336</td>
                            <td>.285</td>
                            <td>.826</td>
                            <td>.491</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>35-39</td>
                            <td>.385</td>
                            <td>.295</td>
                            <td>.366</td>
                            <td>.307</td>
                            <td>.821</td>
                            <td>.516</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>40-44</td>
                            <td>.354</td>
                            <td>.261</td>
                            <td>.323</td>
                            <td>.28</td>
                            <td>.801</td>
                            <td>.469</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>45-49</td>
                            <td>.347</td>
                            <td>.258</td>
                            <td>.317</td>
                            <td>.268</td>
                            <td>.812</td>
                            <td>.462</td>
                        </tr>
                        <tr><td colspan="8">REGION</td></tr>
                        <tr><td></td><td>Northern</td>
                            <td>.346</td><td>.205</td><td>.205</td><td>.172</td><td>.956</td><td>.432</td>
                        </tr>
                        <tr><td></td><td>Northeastern</td>
                            <td>.077</td><td>.09</td><td>.124</td><td>.067</td><td>.191</td><td>.17</td>
                        </tr>
                        <tr><td></td><td>Eastern</td>
                            <td>.454</td><td>.396</td><td>.425</td><td>.388</td><td>.755</td><td>.557</td>
                        </tr>
                        <tr><td></td><td>Western</td>
                            <td>.541</td><td>.321</td><td>.463</td><td>.382</td><td>.915</td><td>.661</td>
                        </tr>
                        <tr><td></td><td>Southern</td>
                            <td>.267</td><td>.288</td><td>.339</td><td>.271</td><td>.792</td><td>.45</td>
                        </tr>
                        <tr><td></td><td>Central</td>
                            <td>.388</td><td>.179</td><td>.282</td><td>.235</td><td>.767</td><td>.43</td>
                        </tr>
     
                        <tr><td colspan="8">RELIGION</td></tr>
                        <tr><td></td><td>Hindu</td>
                            <td>.391</td><td>.292</td><td>.346</td><td>.292</td><td>.828</td><td>.508</td>
                        </tr>
                        <tr><td></td><td>Muslim</td>
                            <td>.421</td><td>.298</td><td>.36</td><td>.308</td><td>.799</td><td>.528</td>
                        </tr>
                        <tr><td></td><td>Christian</td>
                            <td>.141</td><td>.203</td><td>.276</td><td>.211</td><td>.675</td><td>.368</td>
                        </tr>
                        <tr><td></td><td>Other</td>
                            <td>.353</td><td>.224</td><td>.344</td><td>.278</td><td>.924</td><td>.456</td>
                        </tr>
     
                        <tr><td colspan="8">CASTE</td></tr>
                        <tr><td></td><td>Brahmin</td>
                            <td>.289</td><td>.228</td><td>.224</td><td>.191</td><td>.793</td><td>.382</td>
                        </tr>
                        <tr><td></td><td>OBC</td>
                            <td>.404</td><td>.309</td><td>.368</td><td>.315</td><td>.856</td><td>.532</td>
                        </tr>
                        <tr><td></td><td>SC</td>
                            <td>.426</td><td>.321</td><td>.368</td><td>.309</td><td>.833</td><td>.543</td>
                        </tr>
                        <tr><td></td><td>ST</td>
                            <td>.399</td><td>.229</td><td>.351</td><td>.302</td><td>.771</td><td>.514</td>
                        </tr>
                        <tr><td></td><td>Other</td>
                            <td>.34</td><td>.255</td><td>.311</td><td>.251</td><td>.786</td><td>.448</td>
                        </tr>
     
                        <tr><td colspan="8">URBANITY</td></tr>
                        <tr><td></td><td>Rural</td>
                            <td>.426</td><td>.312</td><td>.371</td><td>.319</td><td>.839</td><td>.543</td>
                        </tr>
                        <tr><td></td><td>Urban</td>
                            <td>.289</td><td>.227</td><td>.282</td><td>.221</td><td>.787</td><td>.409</td>
                        </tr>
     
                         <tr><td colspan="8">AFFLUENCE</td></tr>
                         <tr><td></td><td>Poorest</td>
                           <td>.45</td><td>.341</td><td>.388</td><td>.355</td><td>.858</td><td>.56</td>
                         </tr>
                         <tr><td></td><td>Poorer</td>
                           <td>.432</td><td>.32</td><td>.385</td><td>.323</td><td>.821</td><td>.552</td>
                         </tr>
                         <tr><td></td><td>Middle</td>
                           <td>.396</td><td>.285</td><td>.347</td><td>.29</td><td>.836</td><td>.518</td>
                         </tr>
                         <tr><td></td><td>Richer</td>
                           <td>.347</td><td>.262</td><td>.331</td><td>.262</td><td>.824</td><td>.481</td>
                         </tr>
                         <tr><td></td><td>Richest</td>
                           <td>.276</td><td>.209</td><td>.251</td><td>.198</td><td>.771</td><td>.376</td>
                         </tr>
                         
                         <tr><td colspan="8">EDUCATION</td></tr>
                         <tr><td></td><td>xi2: No school</td>
                           <td>.445</td><td>.326</td><td>.382</td><td>.332</td><td>.87</td><td>.562</td>
                         </tr>
                         <tr><td></td><td>xi2: Primary</td>
                           <td>.386</td><td>.276</td><td>.336</td><td>.278</td><td>.824</td><td>.493</td>
                         </tr>
                         <tr><td></td><td>xi2: Upper Primary</td>
                           <td>.339</td><td>.266</td><td>.324</td><td>.263</td><td>.782</td><td>.463</td>
                         </tr>
                         <tr><td></td><td>xi2: Secondary</td>
                           <td>.261</td><td>.197</td><td>.256</td><td>.202</td><td>.735</td><td>.384</td>
                         </tr>
                         <tr><td></td><td>xi2: Higher</td>
                           <td>.182</td><td>.156</td><td>.206</td><td>.152</td><td>.69</td><td>.304</td>
                         </tr>
     
    </table>
                </div><!-- end of .modal-body -->
            </div><!-- end of modal content -->
        </div><!-- end of modal-dialog -->
    </div><!-- end of #dvPerception -->
</div>