<div>
<button type="button" class="btn btn-block"data-toggle="modal" data-target="#wkParticipation">
 Table: Work Participation (women)
</button>
<div class="modal fade" id="wkParticipation" tabindex="-1" role="dialog" aria-labelledby="wkParticipationLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
       <h4 class="modal-title" id="wkParticipationLabel">Work Participation (women)</h4>
     </div>
     <div class="modal-body">
<table class="table table-responsive table-condensed">
<tr><td></td><td></td>
<td><span data-toggle="tooltip" data-placement="top" title="HH 4-7 Any work">Any</span></td><td><span data-toggle="tooltip" data-placement="top" title="HH9  4.28 Family farm work">Farm</span></td><td><span data-toggle="tooltip" data-placement="top" title="HH9  5.5 Animal care">Animal</span></td><td><span data-toggle="tooltip" data-placement="top" title="HH11 6.3 Ag wage labour">Agricultural Wage</span></td><td><span data-toggle="tooltip" data-placement="top" title="HH11 6.3 Nonag wage labour">Non-Agricultural Wage</span></td><td><span data-toggle="tooltip" data-placement="top" title="HH11 6.,7 Salaried position">Salary</span></td><td><span data-toggle="tooltip" data-placement="top" title="HH12 7.7 Family business work">HH Business</span></td>
</tr>
 <tr><td colspan="9">AGE</td></tr>
 <tr><td></td><td>15-19</td>
   <td>.378</td><td>.13</td><td>.203</td><td>.114</td><td>.044</td><td>.004</td><td>.016</td>
 </tr>
 <tr><td></td><td>20-24</td>
   <td>.384</td><td>.148</td><td>.201</td><td>.109</td><td>.041</td><td>.019</td><td>.019</td>
 </tr>
 <tr><td></td><td>25-29</td>
   <td>.478</td><td>.174</td><td>.254</td><td>.14</td><td>.05</td><td>.037</td><td>.03</td>
 </tr>
 <tr><td></td><td>30-34</td>
   <td>.585</td><td>.22</td><td>.32</td><td>.171</td><td>.057</td><td>.06</td><td>.04</td>
 </tr>
 <tr><td></td><td>35-39</td>
   <td>.615</td><td>.227</td><td>.348</td><td>.201</td><td>.062</td><td>.054</td><td>.04</td>
 </tr>
 <tr><td></td><td>40-44</td>
   <td>.59</td><td>.225</td><td>.349</td><td>.169</td><td>.054</td><td>.047</td><td>.041</td>
 </tr>
 <tr><td></td><td>45-49</td>
   <td>.586</td><td>.235</td><td>.349</td><td>.166</td><td>.048</td><td>.053</td><td>.042</td>
 </tr>
 
 <tr><td colspan="9">REGION</td></tr>
 <tr><td></td><td>Northern</td>
   <td>.513</td><td>.194</td><td>.429</td><td>.044</td><td>.021</td><td>.031</td><td>.025</td>
 </tr>
 <tr><td></td><td>Northeastern</td>
   <td>.415</td><td>.242</td><td>.283</td><td>.006</td><td>.026</td><td>.03</td><td>.023</td>
 </tr>
 <tr><td></td><td>Eastern</td>
   <td>.5</td><td>.163</td><td>.333</td><td>.105</td><td>.048</td><td>.033</td><td>.028</td>
 </tr>
 <tr><td></td><td>Western</td>
   <td>.548</td><td>.265</td><td>.273</td><td>.183</td><td>.041</td><td>.047</td><td>.037</td>
 </tr>
 <tr><td></td><td>Southern</td>
   <td>.541</td><td>.13</td><td>.167</td><td>.241</td><td>.073</td><td>.07</td><td>.048</td>
 </tr>
 <tr><td></td><td>Central</td>
   <td>.717</td><td>.391</td><td>.348</td><td>.377</td><td>.128</td><td>.03</td><td>.036</td>
 </tr>
 
 <tr><td colspan="9">RELIGION</td></tr>
 <tr><td></td><td>Hindu</td>
   <td>.556</td><td>.218</td><td>.305</td><td>.179</td><td>.053</td><td>.045</td><td>.034</td>
 </tr>
 <tr><td></td><td>Muslim</td>
   <td>.412</td><td>.099</td><td>.269</td><td>.04</td><td>.046</td><td>.031</td><td>.039</td>
 </tr>
 <tr><td></td><td>Christian</td>
   <td>.449</td><td>.107</td><td>.186</td><td>.124</td><td>.026</td><td>.09</td><td>.031</td>
 </tr>
 <tr><td></td><td>Other</td>
   <td>.57</td><td>.226</td><td>.356</td><td>.137</td><td>.08</td><td>.042</td><td>.042</td>
 </tr>
 
 <tr><td colspan="9">CASTE</td></tr>
 <tr><td></td><td>Brahmin</td>
   <td>.331</td><td>.128</td><td>.215</td><td>.009</td><td>.015</td><td>.049</td><td>.03</td>
 </tr>
 <tr><td></td><td>OBC</td>
   <td>.55</td><td>.224</td><td>.309</td><td>.149</td><td>.048</td><td>.042</td><td>.042</td>
 </tr>
 <tr><td></td><td>SC</td>
   <td>.592</td><td>.15</td><td>.312</td><td>.246</td><td>.082</td><td>.043</td><td>.023</td>
 </tr>
 <tr><td></td><td>ST</td>
   <td>.77</td><td>.419</td><td>.403</td><td>.372</td><td>.11</td><td>.043</td><td>.028</td>
 </tr>
 <tr><td></td><td>Other</td>
   <td>.435</td><td>.161</td><td>.259</td><td>.064</td><td>.023</td><td>.049</td><td>.036</td>
 </tr>
 
 <tr><td colspan="9">URBANITY</td></tr>
 <tr><td></td><td>Rural</td>
   <td>.659</td><td>.277</td><td>.399</td><td>.215</td><td>.058</td><td>.029</td><td>.031</td>
 </tr>
 <tr><td></td><td>Urban</td>
   <td>.226</td><td>.011</td><td>.047</td><td>.018</td><td>.039</td><td>.085</td><td>.045</td>
 </tr>
 
 <tr><td colspan="9">AFFLUENCE</td></tr>
 <tr><td></td><td>Poorest</td>
   <td>.733</td><td>.24</td><td>.398</td><td>.339</td><td>.105</td><td>.034</td><td>.024</td>
 </tr>
 <tr><td></td><td>Poorer</td>
   <td>.669</td><td>.266</td><td>.393</td><td>.24</td><td>.077</td><td>.03</td><td>.03</td>
 </tr>
 <tr><td></td><td>Middle</td>
   <td>.544</td><td>.236</td><td>.311</td><td>.122</td><td>.038</td><td>.044</td><td>.044</td>
 </tr>
 <tr><td></td><td>Richer</td>
   <td>.384</td><td>.149</td><td>.217</td><td>.039</td><td>.022</td><td>.044</td><td>.043</td>
 </tr>
 <tr><td></td><td>Richest</td>
   <td>.266</td><td>.08</td><td>.125</td><td>.005</td><td>.004</td><td>.08</td><td>.033</td>
 </tr>
 
 <tr><td colspan="9">EDUCATION</td></tr>
 <tr><td></td><td>xi2: No school</td>
   <td>.68</td><td>.258</td><td>.395</td><td>.257</td><td>.08</td><td>.031</td><td>.028</td>
 </tr>
 <tr><td></td><td>xi2: Primary</td>
   <td>.539</td><td>.221</td><td>.307</td><td>.133</td><td>.045</td><td>.045</td><td>.038</td>
 </tr>
 <tr><td></td><td>xi2: Upper Primary</td>
   <td>.372</td><td>.141</td><td>.201</td><td>.053</td><td>.024</td><td>.038</td><td>.044</td>
 </tr>
 <tr><td></td><td>xi2: Secondary</td>
   <td>.288</td><td>.084</td><td>.129</td><td>.022</td><td>.008</td><td>.093</td><td>.035</td>
 </tr>
 <tr><td></td><td>xi2: Higher</td>
   <td>.272</td><td>.024</td><td>.042</td><td>.004</td><td>.003</td><td>.187</td><td>.037</td>
 </tr>
 
</table>
     </div>
   </div>
 </div>
</div>
</div>