<div id="webContent">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-9 myText">
                <section id="introduction"></section>
                <section id="domestic-violence"></section>
                <section id="labor-force-participation"></section>
                <section id="work-dv-relationship"></section>
                <section id="appendix"></section>
            </div>
            
            <div class="col-xs-3 scrollspy">
                <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix"></ul>
            </div>

        </div><!--end of .row-->
    </div><!--end of .container-->
</div>