@media (max-width: 1040px) {
  body {
    --game-size: 630px;
  }
}

@media (min-width: 1040px) {
  body {
    --game-size: 945px;
  }
}

#wrapper {
  --N: 8;
  --square-size: calc(var(--game-size) / var(--N));
  --hint-size: calc(var(--game-size) / (5.5*var(--N)));
  --candidate-size: calc(var(--game-size) / (7.4*var(--N)));
  --guess-size: calc(var(--game-size) / (1.5*var(--N)));
  --partition-size: calc(var(--game-size) / (30*var(--N)));
  --color1: #E24E42;
  --color2: #E9B000;
  --color3: #EB6E80;
  --color4: #008F95;
  color: white;
}
#wrapper {
  margin: auto;
  width: var(--game-size);
  height: var(--game-size);
  text-align: center;
}
table {
  height: 100%;
  width: 100% ;
}

#puzzle {
  height: var(--game-size);
  width: var(--game-size);
}
#puzzle p { margin: 0; }
.square-row { height: var(--square-size); }
.square-row > td { position: relative; }
.square-row > td > div { 
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}
.square2 {
  height: var(--square-size);
  width: var(--square-size);
  float: left;
}
.hint {
  text-align: left;
  vertical-align: top;
  padding-left: calc(2 * var(--partition-size));
  padding-top: var(--partition-size);
  font-weight: bold;
  font-size: var(--hint-size);
}
.square.highlight.answered { background-color: black; }
.square.highlight .answer { color: var(--color3); }
.answered .candidates,
.candidates {
  color: transparent;
  width: 25%;
  font-size: var(--candidate-size);
}
.selected-candidate { color: white; }
.candidate-row { height: 25%; }
.square.right-border { border-right: var(--partition-size) solid white; }
.square.bottom-border { border-bottom: var(--partition-size) solid white; }
.square.active { opacity: .7; }
.answer {
  font-size: var(--guess-size);
  font-weight: bold;
  width: var(--square-size);
}
.bg1 { background-color: var(--color1) }
.bg2, .btn { background-color: var(--color2) }
.bg3 { background-color: var(--color3) }
.bg4, .btn-selected { background-color: var(--color4) }
.btn {  border-radius: 0; }